In [5]:
import pandas as pd
import numpy as np
df=pd.read_csv('titanic.csv')
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [6]:
input=df.drop(['Survived'],axis='columns')
input.head()
target=df['Survived']

In [7]:
from sklearn.preprocessing import LabelEncoder
Le_Sex=LabelEncoder()
input['Sex_n']=Le_Sex.fit_transform(input['Sex'])
input.head()

   Pclass     Sex   Age     Fare  Sex_n
0       3    male  22.0   7.2500      1
1       1  female  38.0  71.2833      0
2       3  female  26.0   7.9250      0
3       1  female  35.0  53.1000      0
4       3    male  35.0   8.0500      1

In [48]:
input_4=input.drop(['Sex'],axis='columns')

input_4.Age=input_4.Age.fillna(input_4.Age.mean())
input_4.head()

   Pclass   Age     Fare  Sex_n
0       3  22.0   7.2500      1
1       1  38.0  71.2833      0
2       3  26.0   7.9250      0
3       1  35.0  53.1000      0
4       3  35.0   8.0500      1

In [50]:
Y=input_4.iloc[:,3].values
X=input_4.iloc[:,0:3].values

In [84]:
from sklearn.model_selection import train_test_split
X_test,X_train,Y_test,Y_train=train_test_split(X,Y,test_size=0.3,random_state=100)
from sklearn import tree
model=tree.DecisionTreeClassifier(criterion='gini',max_leaf_nodes=50,random_state=100,max_depth=3)
model.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=50,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [82]:
model.score(X_test,Y_test)

0.666131621187801

0.9797979797979798

model.predict(1,32,7,1

array([0], dtype=int64)